<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>String distance app</title>
  <meta name="description" content="String distance app">
  <meta name="author" content="Pieter de Jong">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <script src="script.js"></script>
  <form action="javascript: onSubmit()">
    <label for="yourname">Please enter your name:</label>
    <input name="str1" type="text" autofocus>
    <label for="yourname">Please enter your name:</label>
    <input name="str2" type="text">
    <input name="submit" type="submit" value="Get Distance">

    <!-- If you like this app, lmk!
    <input type="email"> -->
  </form>
  <div id="distance">
  </div>
</body>
</html>